<!DOCTYPE html>
<html lang="en">
<head>
  <title>FewClick-TrainAndHost</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .textbuttons {
      text-align: center;
    } 
    .form-control{
      font-family: 'roboto';
      font-size: 22px;
    }
    .info{
     float: center;
     text-align: center;
    }
    .loader{
      left: 50%;
    }
    #out{
     text-align: center; 
      font-family: 'roboto';
      font-size: 20px;
    }
    
  </style>
</head>
<body>
<div class="container mt-3">
  <h2><i>FewClick-<font color="darkgreen;">TrainAndHost</font></i> </h2>
  <p><b>FewClick-TrainAndHost</b> is a platform to auto train a text classification model and later convert it to a flask based web-app in just few clicks.</p>
  <form>
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="filename">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <div class="mt-3 textbuttons">
      <button type="button" class="btn btn-primary" id="trainbtn">Train Model</button>
    </div>
  </form><br>

  <div id="traininDiv" class="info">
    <div class="spinner-border" style="color: green;"></div>
    <p>Check your terminal for progress...</p>
    <!-- <p><b>Console</b></p>
    <div style="height: 500px; overflow: auto;">
      <pre id="logs" style=" background-color: black;color: green;"></pre> -->
    </div><br>

  <div id="trainedAndSaved">
      <p id=out>Your model has been <b><i>trained</i></b> and <b><i>saved</i></b> under models directory</p>
  </div>

  <form id="webappform">
    <div class="custom-file mb-3">
      <input type="text" class="form-control mr-sm-2" placeholder="Enter WebApp Title" id="webAppTitle">
    </div>
    <div class="mt-3 textbuttons">
      <button type="button" class="btn btn-primary" id="webappbtn" onClick="createWebApp();">Create WebApp</button>
    </div>
  </form><br>

  <div class="info" id="webapp">
    <div class="spinner-border"></div> 
    <p>Please be patient. You app is being created...</p>
  </div><br>

  <div id="instructions">
     <ol>
      <li>Navigate to <b>my-app</b> folder</li>
     </ol>
  </div><br><br>
  
</div>

<script type="text/javascript">

    $(document).ready(function() {
      $("#info").hide();
      $("#traininDiv").hide();
      $("#trainedAndSaved").hide();
      $("#webappform").hide();
      $("#webapp").hide();
      $("#instructions").hide();
     });  

    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    $('#trainbtn').click(function(){
        $("#traininDiv").show();
$("#webappform").show();
	//call_trainer();
    });

    function createWebApp(){
      $("#webapp").show();
      document.getElementById('webapp').scrollIntoView();
      title = document.getElementById('webAppTitle').value;
      var URL = 'http://0.0.0.0:5000/createWebApp'
      var dataString = "text="+title;
      console.log(URL);
      $.ajax({
          type: 'POST',
          url: URL,
          data: dataString,
          success: function(resp) {
              document.getElementById('webapp').innerHTML = "<p>Your Web-App related relevant files have been created. Please follow the steps mentioned below to make it run. Thanks</p>"
              $("#instructions").show();
          },
	  error: function(err){console.log(err);}
      });
    }

    function call_trainer(){
      var formData = new FormData();
      formData.append('filename', $('#customFile')[0].files[0]);
      var URL = 'http://0.0.0.0:5000/trainAndstream'      
      $.ajax({
          type: 'POST',
          url: URL,
          processData: false,
          contentType: false,
          data: formData,
          success: function(resp) {
            console.log(resp);
            if (resp==='1'){
              document.getElementById('traininDiv').innerHTML = "<span style='font-size:20px;'>&#9989;</span>"
              document.getElementById('out').innerHTML = "Your model has been <b><i>trained</i></b> and <b><i>saved</i></b> under models directory"
              $("#trainedAndSaved").show();
              $("#webappform").show();
            }else if (resp==='0'){
              document.getElementById('out').innerHTML = "Something went wrong."
            }
            
          }
      });
    }
  
</script>
  
</body>
</html>
